{%- assign cint = ci.navtitle -%}
{%- assign ciu = ci.url -%}

{%- capture navitemtitle -%}
  {%- if ci_slug == 'apartment' -%}
    {{ cint }} і частини квартир та окремі кімнати у квартирі або гуртожитку
  {%- elsif ci_slug == 'commercial' -%}
    Нежитлова і {{ cint | downcase }} для ведення підприємницької діяльності
  {%- elsif ci_slug == 'developer' -%}
    Місцеві {{ cint | downcase }} нерухомості і новобудови та житлові комплекси
  {%- elsif ci_slug == 'garage' -%}
    Окремі та спільні {{ cint | downcase }} і паркувальні місця над землею та під землею
  {%- elsif ci_slug == 'house' -%}
    Великі і маленькі {{ cint | downcase }} їх окремі частини та відокремлені кімнати у будинку
  {%- elsif ci_slug == 'land' -%}
    {{ cint }} для сільського господарства і земельні ділянки для будівництва
  {%- elsif ci_slug == 'realtor' -%}
    Місцеві {{ cint | downcase }} з купівлі, продажу і оренди нерухомості
  {%- elsif ci_slug == 'agency' -%}
    Місцеві {{ cint | downcase }} і агенства з купівлі, продажу і оренди нерухомості
  {%- elsif ci_slug == 'rent' -%}
    Подобова і довгострокова {{ cint | downcase }} квартир, будинків, приміщень, земелі
  {%- else -%}
    {%- if cint -%}
      {{ cint }}
    {%- elsif ci.breadcrumb -%}
      {{ ci.breadcrumb }}
    {%- else -%}
      {{ ci.title }}
    {%- endif -%}
  {%- endif -%}
{%- endcapture -%}

{%- capture ncomplexes -%}
  {%- if ci_slug == 'developer' -%}
    {%- assign objects = '' | split: '' -%}
    {%- assign pages = site.html_pages -%}
    {%- for ob in pages -%}
      {%- if ob.dir contains slugd and ob.url contains 'object' and ob.layout == 'object' -%}
        {%- unless ob.dir contains '/developer/builder/object/' -%}
          {%- assign objects = objects | push: p -%}
        {%- endunless -%}
      {%- endif -%}
    {%- endfor -%}
  {% comment %}
    {%- assign demo_objects = site.region_slug | prepend: '/region/city/' | append: '/developer/builder/object/' -%}
    {%- assign objects = site.html_pages | where_exp: "i", "i.dir contains slugd and i.url contains 'object' and i.layout == 'object'" -%}
  {% endcomment %}
    <span class="badge text-white p-0 m-1">
      <span class="bg-primary py-1 px-2 rounded-left">Об'єктів</span><span class="py-1 px-2 bg-info rounded-right">{{ objects | size }}</span>
    </span>
  {%- endif -%}
{%- endcapture -%}

{%- capture nsellers -%}
  {%- if ci_slug == 'developer' -%}
    {%- assign developers = site.html_pages | where_exp: "i", "i.dir contains slugd and i.url contains 'developer' and i.layout == 'developer' and i.navtitle != 'Будівельник'" -%}
    <span class="badge text-white p-0 m-1">
      <span class="bg-primary py-1 px-2 rounded-left">Забудовників</span><span class="py-1 px-2 bg-info rounded-right">{{ developers | size }}</span>
    </span>
  {%- elsif ci_slug == 'realtor' -%}
    {%- assign realtors = site.html_pages | where_exp: "i", "i.dir contains slugd and i.url contains 'realtor' and i.layout == 'realtor' and i.navtitle != 'Агент Продавець'" -%}
    <span class="badge text-white p-0 m-1">
      <span class="bg-primary py-1 px-2 rounded-left">Aгентів і рієлторів</span><span class="py-1 px-2 bg-info rounded-right">{{ realtors | size }}</span>
    </span>
  {%- elsif ci_slug == 'agency' -%}
    {%- assign agencys = site.html_pages | where_exp: "i", "i.dir contains slugd and i.url contains 'agency' and i.layout == 'realtor' and i.navtitle != 'Агенція Продавець'" -%}
    <span class="badge text-white p-0 m-1">
      <span class="bg-primary py-1 px-2 rounded-left">Aгенцій і агенств</span><span class="py-1 px-2 bg-info rounded-right">{{ agencys | size }}</span>
    </span>
  {%- endif -%}
{%- endcapture -%}

{%- capture records -%}
  {%- if ci_slug == 'apartment' -%}
    {%- assign oapartment = offers | where_exp: "i", "i.rent != '1' and
      i.type == site.data.uk.re_apartment or i.type == site.data.uk.re_apartment_part or i.type contains site.data.uk.re_room
    " -%}
    {{ oapartment | size }}
  {%- elsif ci_slug == 'commercial' -%}
    {%- assign ocommercial = offers | where_exp: "i", "i.rent != '1' and i.type contains site.data.uk.re_roomsp" -%}
    {{ ocommercial | size }}
  {%- elsif ci_slug == 'developer' -%}
    {%- assign odeveloper = offers | where_exp: "i", "i.seller contains site.data.uk.building_company" -%}
    {{ odeveloper | size }}
  {%- elsif ci_slug == 'garage' -%}
    {%- assign ogarage = offers | where_exp: "i", "i.rent != '1' and
      i.type == site.data.uk.re_garage or i.type contains site.data.uk.re_place
    " -%}
    {{ ogarage | size }}
  {%- elsif ci_slug == 'house' -%}
    {%- assign ohouse = offers | where_exp: "i", "i.rent != '1' and i.type contains site.data.uk.re_house or i.type == site.data.uk.re_house_part" -%}
    {{ ohouse | size }}
  {%- elsif ci_slug == 'land' -%}
    {%- assign oland = offers | where_exp: "i", "i.rent != '1' and i.type contains site.data.uk.re_land" -%}
    {{ oland | size }}
  {%- elsif ci_slug == 'realtor' -%}
    {%- assign orealtor = offers | where_exp: "i", "
      i.seller contains site.data.uk.agent or
      i.seller contains site.data.uk.realtor or
      i.seller contains site.data.uk.manager or
      i.seller contains site.data.uk.re_seller
    " -%}
    {{ orealtor | size }}
  {%- elsif ci_slug == 'agency' -%}
    {%- assign oagency = offers | where_exp: "i", "
      i.seller contains site.data.uk.agency or
      i.seller contains site.data.uk.ahentstvo
    " -%}
    {{ oagency | size }}
  {%- elsif ci_slug == 'rent' -%}
    {%- assign orent = offers | where_exp: "i", "i.rent == '1'" -%}
    {{ orent | size }}
  {%- else -%}
  {%- endif -%}
{%- endcapture -%}

<div class="col px-2 mb-3">
  <div class="card h-100 bg-{{ number }}">
    <div class="card-body">
      <h3 class="card-title h5"><a href="{{ ci.dir }}">{{ navitemtitle }}</a></h3>
    </div>
    <div class="card-footer bg-transparent border-top-0 text-right px-2">
      {%- if nsellers != '' -%}{{ nsellers }}{%- endif -%}
      {%- if ncomplexes != '' -%}{{ ncomplexes }}{%- endif -%}
      {%- if records != '0' -%}
        <span class="badge text-white p-0 m-1">
          <span class="bg-info py-1 px-2 rounded-left">{{ records }}</span><span class="py-1 px-2 bg-primary rounded-right">пропозицій</span>
        </span>
      {%- endif -%}
    </div>
  </div>
</div>